#ourser {
    background-color: #f3f3f3;
}
#ouse {
    width: 89%; 
    height: 44vh; 
    padding-left: 11vw; 
    padding-bottom: 8vh;  
    display: flex; 
    background-color: #f3f3f3; 
    font-family: Source_Sans_Pro_Regular;
}
.val {
    height: 100%; 
    width: 10%; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    align-items: flex-start;
}
#Layer_11 {
    margin: 1.8vmin;
}
#Layer_12 {
    margin: 1.8vmin;
}
#Layer_13 {
    margin: 1vmin 1.5vmin;
}
#Layer_14 {
    margin: 1.2vmin;
}
.grade {
    height: 100%; 
    width: 45%;
}
.grds {
    width: 100%; 
    height: 20%; 
    color: #474747; 
    font-size: 28px;
}
.gratex {
    width: 100%; 
    height: 40%; 
    font-size: var(--middlefontsize); 
    color: #8e8e90; 
    letter-spacing: 0.05em; 
    line-height: 1.7; 
}
.grabig {
    width: 100%; 
    height: 40%; 
    font-size: var(--mainfontsize); 
    color: #8e8e90; 
    line-height: 1.6;
}
.sunt {
    color: #02b27b;
}
.dia {
    height: 100%; 
    width: 45%; 
}
.meja {
    width: 100%; 
    height: 0.5vh; 
    background-color: #1ebd9f;
}