@media (max-width: 1250px) {
    #about {
        width: 84%;  
        padding: 8vh 8vw; 
    }
    #ouse {
        width: 92%; 
        padding-left: 8vw; 
    }
} 
@media (max-width: 1098px) {
    #about {
        width: 88%;  
        padding: 8vh 6vw; 
    }
    #ouse {
        width: 94%; 
        padding-left: 6vw; 
    }
    .val {
        width: 7%; 
    }
    .grade {
        width: 50%;
    }
    .dia {
        width: 43%; 
    }
    .fotocheff {
        width: 30%;
    }
    .aboutport {
        width: 8.5vw; 
    }
}
@media (max-width: 993px) {
    html, body {
        --mainfontsize: 14px;
        --secondaryfontsize: 16px;
        --middlefontsize: 18px;
    }
    .bouncy {
        width: 40%; 
    }
    .menuall {
        width: 60%; 
    }
    .album {
        flex-direction: column;
        }
    .listphoto {
        width: 100%;
        height: calc(25% - 9px);
        flex-direction: row;
        }
    .cart {
        height: 100%;
    }
    .bigsz {
        width: calc(27% - 8px);
    }
    .smsz {
        width: calc(46% - 8px);
    }
    .bigsmsz {
        width: calc(33% - 8px);
    }
    .smbigsz {
        width: calc(40% - 8px);
    }
    .fotocheff {
        width: 33.5%;
    }
} 
@media (max-width: 870px) {
    .bouncy {
        width: 33%; 
    }
    .menuall {
        width: 67%; 
    }
    #about {
        flex-direction: row;
        }
    .detatext {
        height: 11vh; ;
    }
    .pimpochki {
        height: 48vh; 
        width: 8vmin;
        flex-direction: column; 
    }
    #mouse {
        margin: 5vmin 0;
    }
    .creativblog {
        width: calc(100% - 30vmin); 
        height: 48vh; 
        padding-left: 22vmin;
    }
    .creativideals {
        height: 10vh; 
    }
    .creativtext1 {
        width: 100%; 
    }
    .creativtext2 {
        width: 100%; 
    }
    .featured {
        height: 20vh; 
    }
    .featproj {
        height: 8vh; 
    }
    .feattext {
        height: 12vh; 
    }
    .whiskey:hover {
        width: 60%; 
        color: transparent;
    }
    .now {
        width: 11vw;  
        right: 13vw; 
    }
    #ouse {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .val {
        width: 80%;
        height: 20%;
        flex-direction: row;
        justify-content: flex-start;
    }
    .crimpa {
        margin-right: 5vw;
    }
    .grade {
        width: 80%;
        height: 80%;
    }
    .grds {
        font-size: 22px;
    }
    .dia {
        width: 20%;
        height: 100%;
        flex-direction: column;
        padding: 0;
    }
    .dia_up {
        width: 50%;
    }
    .aboutport {
        width: 9.5vw; 
    }
    .carttext {
        font-size: 9px; 
    }
    #theteam {
        width: 84%; 
        padding-left: 8vw; 
        padding-right: 8vw;
    }
    .personal {
        width: 81vw;
    }
    .sliders {
        left: 83.5vw;
    }
} 