#ourser {
    background-color: #f3f3f3;
}
#ouse {
    width: 89%; 
    height: 44vh; 
    padding-left: 11vw; 
    padding-bottom: 8vh;  
    display: flex; 
    background-color: #f3f3f3; 
    font-family: Source_Sans_Pro_Regular;
}
.val {
    height: 100%; 
    width: 10%; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    align-items: flex-start;}
#Layer_11 {
    margin: 1.8vh;
}
#Layer_12 {
    margin: 1.8vh;
}
#Layer_13 {
    margin: 1vh 1.5vh;
}
#Layer_14 {
    margin: 1.2vh;
}
.grade {
    height: 100%; 
    width: 40%;
}
.grds {
    width: 100%; 
    height: 20%; 
    color: #474747; 
    font-size: 28px;
}
.gratex {
    width: 100%; 
    height: 40%; 
    font-size: var(--middlefontsize); 
    color: #8e8e90; 
    letter-spacing: 0.05em; 
    line-height: 1.7; 
    overflow-y: hidden;
}
.grabig {
    width: 100%; 
    height: 40%; 
    font-size: var(--mainfontsize); 
    color: #8e8e90; 
    line-height: 1.6; 
    overflow-y: hidden;
}
.sunt {
    color: #02b27b;
}
.dia {
    height: 100%; 
    width: 50%; 
}
/*.diafle {
    display: flex; 
    width: 100%; 
    text-align: center;
}
.kru {
    height: 65%; 
    align-items: flex-end; 
    justify-content: space-between; 
    font-size: 28px;
}
.proc {
    font-size: var(--middlefontsize);
}
.nad {
    height: 35%; 
    font-size: var(--middlefontsize); 
    align-items: center; 
    justify-content: space-around;
}
.diagr {
    height: 11vw; 
    width: 11vw; 
    border-radius: 50%;
}
#eig {
    background-image: radial-gradient(#f3f3f3 0%, #f3f3f3 66%, transparent 66%, transparent 100%),
                    conic-gradient(transparent 0%, transparent 20%, #00ae7f 20%, #00ae7f 100%), 
                    radial-gradient(#f3f3f3 0%, #f3f3f3 67%, transparent 67%, transparent 70%, #f3f3f3 70%, #f3f3f3 100%), 
                    conic-gradient(#1b7a7c 0%, #1b7a7c 20%, transparent 20%, transparent 100%);
}
#sev {
    background-image: radial-gradient(#f3f3f3 0%, #f3f3f3 66%, transparent 66%, transparent 100%), 
                    conic-gradient(transparent 0%, transparent 25%, #00ae7f 25%, #00ae7f 100%), 
                    radial-gradient(#f3f3f3 0%, #f3f3f3 67%, transparent 67%, transparent 70%, #f3f3f3 70%, #f3f3f3 100%), 
                    conic-gradient(#1b7a7c 0%, #1b7a7c 25%, transparent 25%, transparent 100%);
}
#sik {
    background-image: radial-gradient(#f3f3f3 0%, #f3f3f3 66%, transparent 66%, transparent 100%), 
                     conic-gradient(transparent 0%, transparent 40%, #00ae7f 40%, #00ae7f 100%), 
                     radial-gradient(#f3f3f3 0%, #f3f3f3 67%, transparent 67%, transparent 70%, #f3f3f3 70%, #f3f3f3 100%), 
                     conic-gradient(#1b7a7c 0%, #1b7a7c 40%, transparent 40%, transparent 100%);
}
.cifra {
    display: block;
    width: 100%;
    height: 3vw;
    padding-top: 4vw;
}*/
.meja {
    width: 100%; 
    height: 0.5vh; 
    background-color: #1ebd9f;
}