.featured{width: 100%; height: 24vh; padding-top: 8vh; text-align: center; font-family: Source_Sans_Pro_Regular; overflow: hidden;}
.featproj{width: 100%; height: 10vh; color: #424347; font-size: 2.8vh; letter-spacing: 0.15em;}
.feattext{width: 100%; height: 14vh; color: #818183; font-size: 2.35vh;}
#lable{width: 100%; height: 44vh; display: flex;}
.whiskey{width: 33.3333333333%; height: 24vh; padding-top: 20vh; transition: 1s; color: #fefefe; text-align: center; font-size: 2.8vh; letter-spacing: 0.15em; font-family: Source_Sans_Pro_Regular; background-size: 100% 100%;}
.whiskey:hover{width: 50%; color: transparent;}
.bells{background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(./img/fotostyle.jpg)}
.bells:hover{background-image: url(./img/fotostyle.jpg)}
.jameson{background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(./img/fotovintage.jpg);}
.jameson:hover{background-image: url(./img/fotovintage.jpg)}
.chivas{background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(./img/fotobranding.jpg);}
.chivas:hover{background-image: url(./img/fotobranding.jpg)}
#nike{width: 100%; height: 15vh; background-size: 100% 100%; background-image: linear-gradient(#1da88bd1 0%, #1da88bd1 100%), url(./img/conver.jpg); position: relative;}
#mit{height: 4vh; width: 70vw; position: absolute; left: 5vw; top: 5.5vh; font-size: 2.8vh; font-family: Source_Sans_Pro_Regular; text-align: center; color: #fefefe; letter-spacing: 0.05em;}
.accu{font-weight: bolder;}
#now{border-radius: 40px; border: #fefefe 1px ridge; height: 3.5vh; width: 9vw; padding-top: 0.5vh; position: absolute; right: 11vw; top: 5.5vh;}
#naomi{display: block; width: 100%; height: 100%; text-decoration: none; color: #fefefe; font-size: 2.5vh; font-family: Source_Sans_Pro_Light; cursor: url(./img/cursor.png), default; text-align: center;}
#now:hover{box-shadow: 1px 1px #fefefe;}
#now:active{border: #fefefe 2px ridge;}