html, body {
    width: 100vw; 
    height: 100vh; 
    margin: 0; 
    font-size: 0;
    overflow-x: hidden; 
    scroll-behavior: smooth; 
    animation-name: ttt; 
    animation-duration: 5s; 
    animation-timing-function: step-end;
    cursor: url(./img/cursor.png), default; 
    --mainfontsize: 16px;
    --secondaryfontsize: 18px;
    --middlefontsize: 20px;
}
@keyframes ttt {
    0%{overflow-y: hidden;} 
    100%{overflow-y: auto;}
}
::-webkit-scrollbar {
    background-image: url(./img/track.jpg);
    background-size: 100% 100%;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#1da88b80 0%, #1da88b80 100%), url(./img/thumb.jpg);
    height: 20%;
    border-radius: 30%;
}
::selection {
    background-color: burlywood;
    color: black;
}
@font-face {
    font-family: Righteous; src:url(./fonts/Righteous/Righteous-Regular.ttf)
}
@font-face {
    font-family: Source_Sans_Pro_Semibold; src:url(./fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf)
}
@font-face {
    font-family: Source_Sans_Pro_Regular; src:url(./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf)
}
@font-face {
    font-family: Source_Sans_Pro_Light; src:url(./fonts/Source_Sans_Pro/SourceSansPro-Light.ttf)
}
header {
    width: 88%; 
    height: 88%; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.411) 0%, rgba(0, 0, 0, 0.411) 100%), url(./img/headerfon.jpg); 
    background-size: max(1200px, 100vw) max(650px, 100vh);
    color: #fbf4ea; 
    padding: 6vh 6vw;
}
#menu {
    width: 100%; 
    height: 10%; 
    display: flex;
}
.bouncy {
    width: 50%; 
    height: 100%; 
    font-size: 24px; 
    font-family: Righteous; 
    letter-spacing: 0.15em;
}
.menuall {
    width: 50%; 
    height: 100%; 
    display: flex;
}
#burger, #chees {
    display: none;
}
.menushka {
    width: 14.2857%; 
    height: 40%; 
    border-radius: 40px;
}
.menushka:hover {
    box-shadow: 0.5px 1px;
}
.menushka:active {
    border: #fbf4ea ridge 1.5px;
}
.mena {
    display: block; 
    width: 100%; 
    height: 100%; 
    font-size: var(--mainfontsize); 
    font-family: Source_Sans_Pro_Regular; 
    text-align: center; 
    text-decoration: none; 
    color: #fbf4ea; 
    cursor: url(./img/cursor.png), default;
}
.slogan {
    width: 100%; 
    height: 9vh; 
    padding-top: 26.2vh;
    font-size: 28px; 
    font-family: Source_Sans_Pro_Light; 
    letter-spacing: 0.25em; 
    text-align: center; 
    overflow: hidden;
}
.pidslogan {
    width: 100%; 
    height: 40%; 
    font-size: var(--mainfontsize); 
    font-family: Source_Sans_Pro_Regular; 
    text-align: center; 
    overflow: hidden;
}
.perehod {
    width: 100%; 
    height: 10%;
}
#down {
    display: block; 
    height: 80%; 
    width: 7.04vh; 
    margin-left: auto; 
    border-radius: 50%; 
    margin-right: auto; 
    opacity: 0.5; 
    cursor: url(./img/cursor.png), default;
}
#down:hover {
    opacity: 1;
}
#down:active {
    border: #fbf4ea 1px ridge;
}
#loader {
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 0; 
    height: 0; 
    animation-name: load; 
    animation-duration: 5s; 
    animation-timing-function: linear; 
    background-image: linear-gradient(45deg, #823e27 0%, #272624 100%); 
    overflow: hidden;
}
#clock1 {
    position: fixed;
    width: 0;
    height: 0;
    top: 35vh;
    left: calc(50vw - 15vh);
    animation-name: loadclock; 
    animation-duration: 5s; 
    animation-timing-function: linear;
}
@keyframes load {
    0%{width: 100vw; height: 100vh; left: 0; top: 0;} 
    80%{width: 100%; height: 100%; left: 0; top: 0;} 
    100%{width: 0; height: 0; left: 50vw; top: 50vh;}
}
@keyframes loadclock {
    0%{width: 30vh; height: 30vh; left: calc(50vw - 15vh); top: 35vh;} 
    80%{width: 30vh; height: 30vh; left: calc(50vw - 15vh); top: 35vh;} 
    100%{width: 0; height: 0; left: 50vw; top: 50vh;}
}