#ourser{background-color: #f3f3f3;}
#ouse{width: 72%; height: 44vh; padding-left: 14vw; padding-bottom: 8vh; padding-right: 14vw; display: flex; background-color: #f3f3f3;}
.val{height: 100%; width: 13%; display: flex; flex-direction: column; justify-content: space-around; align-items: flex-start;}
#Layer_11{margin: 1.8vh;}
#Layer_12{margin: 1.8vh;}
#Layer_13{margin: 1vh 1.5vh;}
#Layer_14{margin: 1.2vh;}
.grade{height: 100%; width: 37%;}
.dia{height: 100%; width: 50%; font-size: 30px;}
.diafle {display: flex; justify-content: space-between; align-items: flex-start; width: 100%; text-align: center;}
.kru{height: 65%;}
.nad{height: 35%; font-size: 2.35vh;}
.diagr{height: 11vw; width: 11vw; border-radius: 50%;}
#eig{background-image: radial-gradient(#f3f3f3 0%, #f3f3f3 66%, transparent 66%, transparent 100%), conic-gradient(transparent 0%, transparent 20%, #00ae7f 20%, #00ae7f 100%), radial-gradient(#f3f3f3 0%, #f3f3f3 67%, transparent 67%, transparent 70%, #f3f3f3 70%, #f3f3f3 100%), conic-gradient(#1b7a7c 0%, #1b7a7c 20%, transparent 20%, transparent 100%);}
#sev{background-image: radial-gradient(#f3f3f3 0%, #f3f3f3 66%, transparent 66%, transparent 100%), conic-gradient(transparent 0%, transparent 25%, #00ae7f 25%, #00ae7f 100%), radial-gradient(#f3f3f3 0%, #f3f3f3 67%, transparent 67%, transparent 70%, #f3f3f3 70%, #f3f3f3 100%), conic-gradient(#1b7a7c 0%, #1b7a7c 25%, transparent 25%, transparent 100%);}
#sik{background-image: radial-gradient(#f3f3f3 0%, #f3f3f3 66%, transparent 66%, transparent 100%), conic-gradient(transparent 0%, transparent 40%, #00ae7f 40%, #00ae7f 100%), radial-gradient(#f3f3f3 0%, #f3f3f3 67%, transparent 67%, transparent 70%, #f3f3f3 70%, #f3f3f3 100%), conic-gradient(#1b7a7c 0%, #1b7a7c 40%, transparent 40%, transparent 100%);}
