main {
    width: 100%; 
    height: 562vh;
    animation-name: mainik;
    animation-duration: 5s;
    animation-timing-function: step-end;
}
#about {
    width: 78%; 
    height: 67vh; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 8vh 11vw; 
    background-color: #f3f3f3;
}
.details {
    margin: 0;
    font-weight: normal;
    height: 8vh;
    width: 100%;
    color: #454545;
    font-family: Source_Sans_Pro_Regular; 
    font-size: var(--secondaryfontsize); 
    text-align: center; 
    letter-spacing: 0.15em; 
}
.detatext {
    width: 100%; 
    height: 16vh; 
    color: #7a7a7c; 
    font-size: var(--mainfontsize); 
    text-align: center; 
    font-family: Source_Sans_Pro_Regular; 
    overflow: hidden;
}
.pimpochki {
    height: 8vmin; 
    width: 100%; 
    display: flex; 
    justify-content: center;
}
.pimpa {
    display: block; 
    height: 8vmin; 
    width: 8vmin; 
    border-radius: 50%; 
    background-color: #7c808b; 
    cursor: url(./img/cursor.png), default;
}
#mouse {
    margin-left: 5vmin; 
    margin-right: 5vmin;
}
.pimpa:hover {
    background-color: #1ebd9f;
}
.pimpa:active {
    border: #7a7a7c 1px ridge;
}
#Capa_1 {
    margin: 2vmin;
}
#Layer_2 {
    margin-top: 1vmin;
}
#Layer_1 {
    margin: 1.2vmin;
}
.creativblog {
    width: 100%; 
    height: 35vh; 
    display: flex; 
    flex-wrap: wrap;
    font-family: Source_Sans_Pro_Regular; 
    color: #7e7e80; 
    line-height: 1.5; 
}
.creativideals {
    width: 100%; 
    height: 11vh; 
    padding-top: 4vh;
    color: #505050; 
    font-family: Source_Sans_Pro_Regular; 
    font-size: var(--secondaryfontsize);
}
.creativtext1 {
    width: 45%; 
    height: 20vh; 
    font-size: var(--middlefontsize); 
    letter-spacing: 0.05em;
}
.creativtext2 {
    width: 55%; 
    height: 20vh; 
    font-size: var(--mainfontsize);
}
.vero {
    color: #02b27b; 
    font-weight: bolder;
}
.ducimus {
    color: #414244; 
    font-weight: bolder;
}
@keyframes mainik {
    0%{display: none;}
    100%{display: block;}
}