@media (max-width: 1250px) {
    #about {
        width: 84%;  
        padding: 8vh 8vw; 
    }
    #ouse {
        width: 92%; 
        padding-left: 8vw; 
    }
} 
@media (max-width: 1098px) {
    #about {
        width: 88%;  
        padding: 8vh 6vw; 
    }
    #ouse {
        width: 94%; 
        padding-left: 6vw; 
    }
    .val {
        width: 7%; 
    }
    .grade {
        width: 50%;
    }
    .dia {
        width: 43%; 
    }
    .fotocheff {
        width: 30%;
    }
    .aboutport {
        width: 8.5vw; 
    }
}
@media (max-width: 993px) {
    ::-webkit-scrollbar {
        width: 5px;
    }
    html, body {
        --mainfontsize: 14px;
        --secondaryfontsize: 16px;
        --middlefontsize: 18px;
    }
    .bouncy {
        width: 40%; 
    }
    .menuall {
        width: 60%; 
    }
    .album {
        flex-direction: column;
        }
    .listphoto {
        width: 100%;
        height: calc(25% - 9px);
        flex-direction: row;
        }
    .cart {
        height: 100%;
    }
    .bigsz {
        width: calc(27% - 8px);
    }
    .smsz {
        width: calc(46% - 8px);
    }
    .bigsmsz {
        width: calc(33% - 8px);
    }
    .smbigsz {
        width: calc(40% - 8px);
    }
    .fotocheff {
        width: 33.5%;
    }
} 
@media (max-width: 870px) {
    .bouncy {
        width: 33%; 
    }
    .menuall {
        width: 67%; 
    }
    main {
        height: 575vh;
    }
    #about {
        flex-direction: row;
        }
    .detatext {
        height: 11vh; ;
    }
    .pimpochki {
        height: 48vh; 
        width: 8vmin;
        flex-direction: column; 
    }
    #mouse {
        margin: 5vmin 0;
    }
    .creativblog {
        width: calc(100% - 30vmin); 
        height: 48vh; 
        padding-left: 22vmin;
    }
    .creativideals {
        height: 10vh; 
    }
    .creativtext1 {
        width: 100%; 
    }
    .creativtext2 {
        width: 100%; 
    }
    .feattext {
        height: 12vh; 
    }
    .whiskey:hover {
        width: 60%; 
        color: transparent;
    }
    .mit {
        font-size: var(--mainfontsize);
    }
    .now {
        width: 11vw;  
        right: 8vw; 
        top: 5vh;
    }
    #ouse {
        height: 57vh;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .val {
        width: 80%;
        height: 20%;
        flex-direction: row;
        justify-content: flex-start;
    }
    .crimpa {
        margin-right: 5vw;
    }
    .grade {
        width: 80%;
        height: 80%;
        padding-top: 3vh;
    }
    .grds {
        font-size: 22px;
    }
    .dia {
        width: 20%;
        height: 80%;
        flex-direction: column;
        padding: 0;
    }
    .dia_up {
        width: 50%;
        min-width: 70px;
    }
    .aboutport {
        width: 10vw; 
    }
    .carttext {
        font-size: 9px; 
    }
    .promit {
        font-size: var(--mainfontsize); 
    }
    .pronow {
        width: 12vw; 
    }
    #theteam {
        width: 84%; 
        padding-left: 8vw; 
        padding-right: 8vw;
    }
    .personal {
        width: 81vw;
    }
    .fotocheff {
        width: 35%;
    }
    .sliders {
        left: 83.5vw;
    }
    .textcont {
        font-size: var(--secondaryfontsize);
    }
    .butcont {
        width: 12vw; 
    }
}
@media (max-width: 710px) {
    header {
        width: 94%; 
        padding: 6vh 3vw;
    }
    .bouncy {
        width: 23%; 
    }
    .menuall {
        width: 77%; 
    }
    .creativblog {
        width: calc(100% - 12vmin); 
        padding-left: 4vmin;
    }
    .whiskey:hover {
        width: 70%; 
        color: transparent;
    }
    .mit {
        width: 90vw;
        left: 5vw;
        top: 3vh;
    }
    .now {
        width: 14vw;  
        right: 43vw; 
        top: 7.5vh;
    }
    #portfolio {
        width: 92%; 
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .aboutport {
        width: 12vw; 
    }
    .carttext {
        font-size: 8px; 
    }
    .pronow {
        width: 14vw; 
    }
    #theteam {
        width: 94%; 
        padding-left: 3vw; 
        padding-right: 3vw;
    }
    .fotocheff {
        width: 42%;
    }
    .textaboutcheff {
        width: 58%;
        font-size: 11px;
    }
}
