#theteam{width: 72%; height: 90vh; padding-left: 13vw; padding-right: 15vw;}
#vizitka{width: 100%; height: 43vh; display: flex;}
#fotonoman{width: 25%; height: 100%; background-image: url(./img/noman.jpg); background-size: 100% 100%;}
#blognoman{width: 75%; height: 100%;}
#pointi{width: 100%; height: 15vh;}
footer{width: 100%; height: 18vh; background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7)), url(./img/foncontacts.jpg); background-size: 100% 100%; font-family: Source_Sans_Pro_Regular; text-align: center;}
.textcont{width: 100%; height: 50%; color: #f4f4f4; font-size: 2.7vh;}
.butcont{border-radius: 40px; border: #f4f4f4 1px ridge; height: 3.5vh; width: 9vw; margin-left: auto; margin-right: auto;}
.butcont:hover{box-shadow: 1px 1px #f4f4f4;}
.butcont:active{border: #f4f4f4 2px ridge;}